body{
background: #0e0d6a;
}

#body > .inner h2{
border-bottom: solid 1px #0e0d6a;
}

#g-header .nav li a {
color: #0e0d6a;
}

.register select{
height: auto;
}




/*
====================================================

FAQ

====================================================
*/

#faq *{
box-sizing: border-box;
}


#fNav{
list-style: none;
margin: 0;
}

#fNav i{
font-size: 200%;
display: block;
}


#faq .box{
margin-top: 20px;
}

#faq .box h3 {
display: table;
background: #0e0d6a;
width: 100%;
box-sizing: border-box;
padding: 5px;
}
#faq .box h3 span{
padding-left: 20px;
color: #fff;
}

#faq .box h3 i.icon,
#faq .box h3 i.fa,
#faq .box h3 span {
display: table-cell;
vertical-align: middle;
}

#faq .box i.icon{
display: block;
font-weight: normal;
font-size: 24px;
width: 24px;
height: 24px;
padding: 18px 22px;
border-radius: 100px;
background: #fff;
line-height: 100%;
margin-bottom: 20px;
margin-right: 20px;
}

#faq .arrow{
width: 5%;
}

#faq .box h3 span{
padding-left: 10px;
}


#faq .box h3:hover,
#faq .box h4:hover{
opacity: .5;
cursor: pointer;
}

#faq .box h4{
display: table;
}

#faq .box .cont{
}

#faq .box h4:before,
#faq .box h4 span{
display: table-cell;
vertical-align: middle;
}

#faq .box h4:before{
content: "";
background: url(../static/img/q.png);
background-size: cover;
display: block;
width: 30px;
height: 30px;
}
#faq .box h4 span{
padding-left: 10px;
}

#faq article{
margin-bottom: 15px;
padding: 15px 0;
border-bottom: solid 1px #eee;
}

#faq article p{
padding: 20px 0 20px 50px;
display: none;
}


#faq article p a{
display: block;
white-space: nowrap;
width: 100%;
overflow: hidden;
text-overflow: ellipsis;
}